.toolbar { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px; 
  gap: 10px; }
.actions { 
  display: flex; 
  gap: 10px; }
.filter { 
  min-width: 250px; }
.table-container { 
  overflow-x: auto; }
.mat-mdc-cell, .mat-mdc-header-cell {
  padding: 6px 8px !important;
  font-size: 12px;
}

/* Уменьшаем размер кнопок в тулбаре, если нужно */
.toolbar button {
  padding: 4px 12px;
  font-size: 12px;
}

/* Поле фильтра можно сделать уже */
.filter .mat-mdc-form-field {
  width: 200px;
}

.specific-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}
.filter-field {
  flex: 1 1 200px;
}
.table-container {
  overflow-x: auto;
}


